
<header align="center" id="header-tag">
  <h1>You're not yourself when you're hungry.</h1>
  <h4> This calls for a cheeseburger!</h4>
</header>

<div class="container">

<hr>

<form class="create-form" align="center">
  <h2 class= "header-form">Add Order</h2>
  <div class="form-group">
    <label for="newOrder">What type of burger would you like?</label>
    <br>
    <input type="text" id="newOrder" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">How hungry are you?</label><br>
    {{!-- devoured true --}}
    <input type="radio" name="hungry" value="1"> Hangry!<br>
  {{!-- deboured false --}}
    <input type="radio" name="hungry" value="0"> I can wait.
  </div>

  <button id="create-burger">Add Order</button>
</form>
<hr>
<div class="row">
<div class="col-md-6 col-lg-6 col-sm-12">
<ul id="to-eat">
  <!-- Burgers will be placed here if the user selects 'i can wait' when submitting a burger. -->
<h2 class= "header-form"> Save it for later. <br> To go burgers: </h2>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<hr>
<div class="col-md-6 col-lg-6 col-sm-12">
<ul id="already-ate">
 <h2 class = "header-form"> Oh sorry! <br> Did you want a bite?</h2>

  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>


<!-- //create a button here that will submit the user into the database. -->
