<h1> Hungry yet? </h1>

<h4> This calls for a cheeseburger... </h4>
<hr>
<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      {{> burgers/burger-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if hungry}}
      {{> burgers/burger-block hungry=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Order</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newOrder">Burger Name:</label>
    <input type="text" id="newOrder" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="hungry" value="1" checked> Hungry!<br>
    <input type="radio" name="hungry" value="0"> not hungry
  </div>

  <button type="submit">Add Order</button>
</form>





<!-- //create a button here that will submit the user into the database. -->
