/* div wrapped for body because of handlebars */
#body-style{
background-image: url(https://images.unsplash.com/photo-1501958742272-10ce02fc3e58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c641d9aff38dab8baa0540290d18d78&auto=format&fit=crop&w=1352&q=80);
background-size: cover;
background-repeat: no-repeat;
}

.container{
  background-color: white;
  margin-top: 60px;
  margin-bottom: 25px;
  /* border: 2px solid; */
  border-radius: 25px;
font-family: 'Montserrat', arial;
}

.header-form{
  font-family: 'Shrikhand', arial;
}
/* lists */
li {
  padding: 10px;
  margin: 20px;
  background: #fff;
  border:1px solid #faebd7;
  align-items: center;
}

/* cursor */
.custom {
  cursor: url(http://i68.tinypic.com/20a30nt.png), auto;
}

body, html{
  cursor:url('http://i68.tinypic.com/20a30nt.png'), pointer;
}


#header-tag{
  margin-top: 30px;
  color: white;
  font-family: impact;
  font-family: 'Shrikhand', arial;

}

.h2{

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
img {
	max-width: 100%;
	width: auto;
	height: 75px;
}

/* button class */
.create-burger:hover{
background-color: red;
}

/* button class */
/* change order */
.change-order {
    letter-spacing: 0;
}

.change-order:hover,
.change-order:active {
  letter-spacing: 5px;
}

.change-order:after,
.change-order:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.change-order:hover:after,
.change-order:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.change-order:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
